<connectionStrings>
    <add name="MiConexion" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=MultimediaWeb;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False" providerName="System.Data.SqlClient" />
</connectionStrings>